@import "universalstyle.css";

.gridaside {
    justify-content: center;
}
input {
    width: 100%;
    font-size: 1em;
}
textarea {
    font-family: "Playfair Display", serif;
    width: 50%;
    height: 30vh;
    font-size: 1em;
}

.gridarticle {
    border: none;
}